#	$OpenBSD: ssh_config,v 1.30 2016/02/20 23:06:23 sobrado Exp $
#	$FreeBSD: releng/11.1/crypto/openssh/ssh_config 311915 2017-01-11 05:56:40Z delphij $

#####=====----- For some old Cisco IOS -----=====#####
Host					oldcisco1.local.wildfielded.site
    KexAlgorithms		+diffie-hellman-group1-sha1

Host					oldcisco2.local.wildfielded.site
    Ciphers				aes256-cbc,aes192-cbc,aes128-cbc,3des-cbc
    KexAlgorithms		+diffie-hellman-group1-sha1

#####=====----- For some old D-Link switches -----=====#####
Host                    192.168.192.146
    Ciphers             aes256-cbc,aes192-cbc,aes128-cbc,3des-cbc
    KexAlgorithms       diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1
    HostKeyAlgorithms   ssh-rsa,ssh-dss

#####=====----- For some dumb switches -----=====#####
Host					192.168.192.*
    HostKeyAlgorithms	+ssh-dss

#####=====----- For Git accounts -----=====#####
Host                    wildfielded.github.com
    Hostname            github.com
    User                git
    IdentityFile		~/.ssh/rsa_wilded

Host                    sshbuser.github.com
    Hostname            github.com
    User                git
    IdentityFile        ~/.ssh/rsa_sshbuser

#####=====----- Works with almost all my cases -----=====#####
Host                                *
    AddressFamily                   inet
    BatchMode                       no
    ChallengeResponseAuthentication yes
    CheckHostIP                     yes
    ClearAllForwardings             yes
    Compression                     yes
    ConnectionAttempts              1
    ConnectTimeout                  86400
    ControlMaster                   auto
    ControlPath                     none
    EnableSSHKeysign                no
    EscapeChar                      none
    ExitOnForwardFailure            no
    ForwardAgent                    no
    ForwardX11                      no
    ForwardX11Trusted               no
    GatewayPorts                    no
    GSSAPIAuthentication            no
    GSSAPIDelegateCredentials       no
    HashKnownHosts                  no
    HostbasedAuthentication         no
    IdentitiesOnly                  no
    KbdInteractiveAuthentication    yes
    LogLevel                        INFO
    NumberOfPasswordPrompts         2
    PasswordAuthentication          yes
    PermitLocalCommand              no
    Port                            22
    PreferredAuthentications        publickey,keyboard-interactive,password
    Protocol                        2,1
    ProxyCommand                    none
    PubkeyAuthentication            yes
    RekeyLimit                      1G 1h
    StrictHostKeyChecking           ask
    TCPKeepAlive                    yes
    Tunnel                          no
    TunnelDevice                    any:any
    UsePrivilegedPort               no
    UserKnownHostsFile              ~/.ssh/known_hosts
    VerifyHostKeyDNS                no
    VersionAddendum                 bI6AHTA-20201010
    VisualHostKey                   no

###########################################################################